body {
    height: 100vh;
    overflow-y: hidden;
    background-color: #2f80ed;
}


/* Horizontal Navbar Style */
.navbarhvisible {
    height: 10vh;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    background-color: #0b2537;
    transition: 500ms;
}

/* Horizontal Navbar Style when collapsed*/
.navbarhcollapsed {
    background-color: #0b2537;
    height: 0px;
    width: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Navbar brand style */
.navbar-brand {
    text-decoration: none;
    color: whitesmoke;
}

/* Navbar Brand on hovering */
.navbar-brand:hover {
    color: grey;
}


/* Style for Nav buttons inside Navbar */
.navbtn {
    text-align: center;
    background: rgb(161, 157, 157, 0.5);
    border: none;
    height: 35px;
    vertical-align: middle;
    padding-bottom: 5px;
    border-radius: 18px;
    transition: 300ms;
    color: whitesmoke;
    padding: 0 15px;
}

/* Style for Nav buttons inside Navbar on hovering*/
.navbtn:hover {
    background-color: #404040;
    transition: 300ms;
}

.navbtn:focus {
    outline: none;
}

/* root div style */
.root {
    background-color: #2f80ed;
    height: 100vh;
    left: 0;
}

/* row style */
.row {
    display: flex;
}

/* Vertical Navbar Style */
.navbarvvisible {
    background-color: #051826;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 15px;
    transition: 800ms;
}

/* Vertical Navbar Style when collapsed*/
.navbarvcollapsed {
    background-color: #051826;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 0px;
}


/* Sidebar (Tasks) */
.tactive {
    background-color: #0b2537;
    width: 33%;
    display: table-cell;
    text-align: center;
    overflow-y: scroll;
    transition: 500ms;
    height: 100vh;
    padding: 10px 10px;
    float: left;
}

/* Sidebar (Tasks)  when collapsed*/
.tcollapsed {
    background-color: #0b2537;
    width: 5%;
    float: left;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow-y: scroll;
    height: 100vh;
    transition: 500ms;
    min-width: 70px;
}

/* remove overflow scrollbar */
.tactive::-webkit-scrollbar,
.tcollapsed::-webkit-scrollbar {
    display: none;
}

/* task adder button */
.task-adder {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 28px;
    box-shadow: none;
    background: rgb(161, 157, 157, 0.5);
    align-items: center;
    background-image: none;
    border: none;
    color: #37444c;
    height: 56px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: snow;
    transition: 500ms;
}

/* task adder button on shrink */
.task-adder-shrink {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 80%;
    height: 80%;
    border-radius: 28px;
    box-shadow: none;
    background: rgb(161, 157, 157, 0.5);
    align-items: center;
    background-image: none;
    border: none;
    color: #37444c;
    height: 56px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: snow;
    transition: 500ms;
}

/* task adder on hover */
.task-adder:hover {
    background: rgb(161, 157, 157, 1);
    transition: 500ms;
}

.task-adder:focus,
.task-adder-shrink:focus {
    outline: none;
}

/* task model  style */
.task {
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 28px;
    box-shadow: none;
    background: #fff;
    align-items: center;
    border: none;
    color: #37444c;
    height: 56px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
    cursor: pointer;
}

/* task model  style when shrinked */
.task-shrink {
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 28px;
    box-shadow: none;
    background: #fff;
    align-items: center;
    background-image: none;
    border: none;
    color: #37444c;
    height: 56px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
    cursor: pointer;
}


/* Main Subtask Div */
#main {
    overflow-y: scroll;
    height: 100vh;
}

/* removing scrollbar */
#main::-webkit-scrollbar {
    display: none;
}

.mainshrinked {
    text-align: center;
    width: 65%;
    transition: 500ms;
    padding: 10px 20px;
    overflow-y: scroll;
    height: 100vh;
}

/* style when both sidebar and vertical navbar are expanded*/
.mainextrashrinked {
    text-align: center;
    width: 45%;
    transition: 500ms;
    padding: 10px 20px;
    overflow-y: scroll;
    height: 100vh;
}

/* style when every thing is collapsed*/
.mainexpanded {
    width: 80%;
    text-align: center;
    transition: 500ms;
    padding: 10px 20px;
    overflow-y: scroll;
    height: 100vh;
}

/* removing scrollbar */
.subtasks::-webkit-scrollbar {
    display: none;
}

/* button style to collapse and expand */
.toggleSidebarbtn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 30px;
    padding: auto;
    cursor: pointer;
    border-radius: 25px;
    float: right;
    transition: 800ms;
}

.toggleSidebarbtncollapsed {
    background-color: DodgerBlue;
    border: none;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 30px;
    padding: auto;
    cursor: pointer;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 800ms;
}

.toggleSidebarbtn:focus,
.toggleSidebarbtncollapsed:focus,
.subtask-adder:focus,
.tsbtn:focus,
.toggleNavbarbtn:focus {
    outline: none;
}

/* subtasks style */
.subtasks {
    text-align: center;
}

.bSubtask {
    color: white;
    font-size: 36px;
    margin-top: 250px;
    text-align: center;
}

/* list stylling */
ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}




.subtask-adder {
    border-radius: 50px;
    box-shadow: none;
    background: rgb(23, 34, 252, 0.8);
    align-items: center;
    background-image: none;
    border: none;
    color: #37444c;
    height: 75px;
    width: 75px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    padding: auto;
    cursor: pointer;
    color: snow;
    transition: 500ms;
    font-size: 35px;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.toggleNavbarbtn {
    margin-top: 5px;
    background-color: DodgerBlue;
    border: none;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 30px;
    padding: auto;
    cursor: pointer;
    border-radius: 25px;
    float: right;
    transition: 800ms;
}


.subtask {
    margin-bottom: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 28px;
    box-shadow: none;
    background: #fff;
    align-items: center;
    border: none;
    color: #37444c;
    height: 56px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
    cursor: pointer;
}