
.container-fluid{
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 100%;
    height: 100vh;
}

.row {
    display: flex;
}


.tactive {
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    width: 33%;
    display: table-cell;
    text-align: center;
    overflow-y: scroll;
    transition: 500ms;
    height: 100vh;
    padding: 10px 10px;
    float: left;
}
.tcollapsed {
    width: 5%;
    float: left;
    display: table-cell;
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    text-align: center;
    vertical-align: middle;
    overflow-y: scroll;
    height: 100vh;
    transition: 500ms;
    min-width: 70px;
}
.tactive::-webkit-scrollbar, .tcollapsed::-webkit-scrollbar{
    display: none;
}

.task-adder {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 28px;
    box-shadow: none;
    background: rgb(161, 157, 157, 0.5);
    align-items: center;
    background-image: none;
    border: none;
    color: #37444c;
    height: 56px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: snow;
    transition: 500ms;
}
.task-adder-shrink {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    height: 80%;
    border-radius: 28px;
    box-shadow: none;
    background: rgb(161, 157, 157, 0.5);
    align-items: center;
    background-image: none;
    border: none;
    color: #37444c;
    height: 56px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: snow;
    transition: 500ms;
}
.task-adder:hover {
    background: rgb(161, 157, 157, 1);
    transition: 500ms;
}
.task-adder:focus, .task-adder-shrink:focus {
    outline: none;
}

#main{
    height: 100vh;
    text-align: center;
    margin: auto;
}
#main::-webkit-scrollbar {
    display: none;
}
.mainshrinked {
    text-align: center;
    width: 67%;
    transition: 500ms;
    padding: 10px 20px;
    overflow-y: scroll;

}

.mainexpanded {
    width: 85%;
    text-align: center;
    transition: 500ms;
    padding: 10px 20px;
    overflow-y: scroll;
}

.subtasks::-webkit-scrollbar {
    display: none;
}

.tsbtn {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 30%;
    border-radius: 28px;
    box-shadow: none;
    background: rgb(161, 157, 157, 0.5);
    align-items: center;
    background-image: none;
    border: none;
    color: #37444c;
    height: 56px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: snow;
    transition: 500ms;
}

.subtasks {
    text-align: center;
}

.bSubtask {
    color: white;
    font-size: 36px;
    margin-top: 250px;
    text-align:center;
}


.tsbtn:focus {
    outline: none;
}

.fullscreen {
    width: 100%;
    transition: 500ms;
    height: 100vh;
}

.subtasks-details {
    background-color: green;
}


ul{
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.task {
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 28px;
    box-shadow: none;
    background: #fff;
    align-items: center;
    border: none;
    color: #37444c;
    height: 56px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
    cursor: pointer;
}
.task-shrink {
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 28px;
    box-shadow: none;
    background: #fff;
    align-items: center;
    background-image: none;
    border: none;
    color: #37444c;
    height: 56px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
    cursor: pointer;
}

